<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/product.css" />
  </head>

  <body>
   <%- include('../includes/navigation.ejs') %>
   <main class="centered">
    <h1><%= product[0].title %></h1>
    <hr />
    <div>
        <img src="<%= product[0].imageUrl %>" alt="<%= product[0].title %>" />
    </div>
    <h2>₦<%=product[0].price %></h2>
    <p><%= product[0].description %></p>
    <%- include('../includes/add-to-cart.ejs') %>
   </main>
<%- include('../includes/end.ejs') %>